.main-navigation {
    display: flex;
    height: 3rem;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    align-items: center;
}

p.logo {
    flex: 1;
    color: #fff;
    text-align: center;
}

.main-navigation ul {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-evenly;
}

.main-navigation ul li a {
    color: #fff;
}

.user-name-li {
    color: #fff;
}

.user-name-li span {
    font-weight: bold;
    font-variant: small-caps;
}