footer {
    text-align: center;
    margin-bottom: 2rem;
    border-top: 1px groove #fff;
    padding-top: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer span {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color)
}